//-
    name: online-business-investment-investments-in-it
    description: Markup for the investment in business block.
    arguments:
        - {object} props - Block properties.

mixin online-business-investment-investments-in-it(props = {})
    .online-business-investment-investments-in-it
        .row
            .column.large-12
                h2.online-business-investment-investments-in-it__title Инвестиции в IT бизнес подойдут вам, если вы:
                .online-business-investment-investments-in-it__main
                    .online-business-investment-investments-in-it__blocks
                        img.online-business-investment-investments-in-it__blocks-img(src="./assets/img/Layer1.svg", alt="")
                        p.online-business-investment-investments-in-it__blocks-text
                            | Хотите получить источник
                            br
                            | пассивного дохода
                    .online-business-investment-investments-in-it__blocks
                        img.online-business-investment-investments-in-it__blocks-img(src="./assets/img/Frame222.svg", alt="")
                        p.online-business-investment-investments-in-it__blocks-text 
                            | Нацелены получить
                            br
                            | доход выше вкладов
                    .online-business-investment-investments-in-it__blocks
                        img.online-business-investment-investments-in-it__blocks-img(src="./assets/img/Frame.svg", alt="")
                        p.online-business-investment-investments-in-it__blocks-text
                            | Любите прозрачность и 
                            br
                            | гарантии
                    .online-business-investment-investments-in-it__blocks
                        img.online-business-investment-investments-in-it__blocks-img(src="./assets/img/Frame223.svg", alt="")
                        p.online-business-investment-investments-in-it__blocks-text
                            | Заинтересованы
                            br
                            | диверсифицировать
                            br
                            | вложения
