//-
    name: about-sites
    description: Markup for the sites about block.
    arguments:
        - {object} props - Block properties.

mixin about-sites(props = {})
    .about-sites
        .sites
            .row
                .column
                .sites__main
                    .sites__wrapper
                        h3.sites__title
                            | Аккредитованы 
                            br
                            | на всех ведущих торговых площадках
                        .sites__arrows
                            ul.arrows-slider
                                li.arrows-slider__item.arrows-slider__left(data-sites-left='')
                                    a.arrows-slider__link(href='javascript:void(0)')
                                        span.arrows-slider__icon
                                            svg(width='12px', height='18px', viewBox='0 0 12 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                                title Path 2 Copy 2
                                                desc Created with Sketch.
                                                g#left-arrow_Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                                    g(id='left-arrow_о-компании', transform='translate(-1218.000000, -905.000000)', stroke='#3EA6E7', stroke-width='3')
                                                        g#left-arrow_Group-10(transform='translate(770.000000, 528.000000)')
                                                            g#left-arrow_Group-9(transform='translate(426.000000, 362.000000)')
                                                                polyline#left-arrow_Path-2-Copy-2(transform='translate(28.500000, 24.000000) rotate(-180.000000) translate(-28.500000, -24.000000) ', points='24.585981 16.9441302 32.4689268 23.9755119 24.5310732 31.0558698')
                                li.arrows-slider__item.arrows-slider__right(data-sites-right='')
                                    a.arrows-slider__link(href='javascript:void(0)')
                                        span.arrows-slider__icon
                                            svg(width='12px', height='18px', viewBox='0 0 12 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                                // Generator: Sketch 53 (72520) - https://sketchapp.com
                                                title Path 2 Copy 3
                                                desc Created with Sketch.
                                                g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                                    g(id='о-компании', transform='translate(-1278.000000, -905.000000)', stroke='#3EA6E7', stroke-width='3')
                                                        g#Group-10(transform='translate(770.000000, 528.000000)')
                                                            g#Group-9(transform='translate(426.000000, 362.000000)')
                                                                polyline#Path-2-Copy-3(transform='translate(87.162598, 24.000000) rotate(-360.000000) translate(-87.162598, -24.000000) ', points='83.2485786 16.9441302 91.1315244 23.9755119 83.1936709 31.0558698')
                        .sites__container
                            ul.sites__list(data-sites-slider='')
                                li.sites-list__item
                                    .sites-list__wrapper
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-one/sberbank.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-one/insurance-agency.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-two/nis.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-two/set-online.jpg')
                                li.sites-list__item
                                    .sites-list__wrapper
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-one/property-trade.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-one/fedresurs.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-two/fabricant.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-two/south-etp.jpg')
                                li.sites-list__item
                                    .sites-list__wrapper
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-three/vetp.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-three/b2b.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-three/rad.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-three/rutrade.jpg')
                    .sites__wrapper
                        h3.sites__title
                            | Являемся членом ведущих 
                            br
                            | профессиональных сообществ и ассоциаций
                        .sites__arrows
                            ul.arrows-slider
                                li.arrows-slider__item.arrows-slider__left(data-second-left='')
                                    a.arrows-slider__link(href='javascript:void(0)')
                                        span.arrows-slider__icon
                                            svg(width='12px', height='18px', viewBox='0 0 12 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                                title Path 2 Copy 2
                                                desc Created with Sketch.
                                                g#left-arrow_Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                                    g(id='left-arrow_о-компании', transform='translate(-1218.000000, -905.000000)', stroke='#3EA6E7', stroke-width='3')
                                                        g#left-arrow_Group-10(transform='translate(770.000000, 528.000000)')
                                                            g#left-arrow_Group-9(transform='translate(426.000000, 362.000000)')
                                                                polyline#left-arrow_Path-2-Copy-2(transform='translate(28.500000, 24.000000) rotate(-180.000000) translate(-28.500000, -24.000000) ', points='24.585981 16.9441302 32.4689268 23.9755119 24.5310732 31.0558698')
                                li.arrows-slider__item.arrows-slider__right(data-second-right='')
                                    a.arrows-slider__link(href='javascript:void(0)')
                                        span.arrows-slider__icon
                                            svg(width='12px', height='18px', viewBox='0 0 12 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                                // Generator: Sketch 53 (72520) - https://sketchapp.com
                                                title Path 2 Copy 3
                                                desc Created with Sketch.
                                                g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                                    g(id='о-компании', transform='translate(-1278.000000, -905.000000)', stroke='#3EA6E7', stroke-width='3')
                                                        g#Group-10(transform='translate(770.000000, 528.000000)')
                                                            g#Group-9(transform='translate(426.000000, 362.000000)')
                                                                polyline#Path-2-Copy-3(transform='translate(87.162598, 24.000000) rotate(-360.000000) translate(-87.162598, -24.000000) ', points='83.2485786 16.9441302 91.1315244 23.9755119 83.1936709 31.0558698')
                        .sites__container
                            ul.sites__list(data-sites-second='')
                                li.sites-list__item
                                    .sites-list__wrapper
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-four/deal-russia.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-four/invest-russia.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-four/rspp.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-four/union.jpg')
                                li.sites-list__item
                                    .sites-list__wrapper
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-four/rspp.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-five/moscow-chamber.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-five/association.jpg')
                                        img.sites-list__image(src='https://unitrust.capital/static/images/about/slide-five/nia.jpg')
