//-
	name: examples-invest
	description: Markup for the examples-invest block.
	arguments:
		- {object} props - Block properties.

mixin examples-invest(props = {})
	.examples-invest
		.row
			.column
				.examples-invest__active-caption Примеры Бизнесов
				h2.examples-invest__title Примеры реальных бизнесов
				.examples-invest__block-links
					a.examples-invest__links(href="") Все бизнесы
					a.examples-invest__links(href="") Агрегатор
					a.examples-invest__links(href="") Маркетплейс
					a.examples-invest__links(href="") Интернет-магазины
					a.examples-invest__links(href="") Онлайн сервисы
					a.examples-invest__links(href="") Мобильные приложения
					a.examples-invest__links(href="") До 1 млн. рублей
					a.examples-invest__links(href="") От 1 до 5 млн. рублей
					a.examples-invest__links(href="") От 5 млн. рублей
					a.examples-invest__links(href="") SaaS
					a.examples-invest__links(href="") e-commerce
				h2.examples-invest__title Онлайн сервисы
				p.examples-invest__subtitle Сейчас рынок информационных технологий измеряется сотнями триллионов долларов. на интересующий Вас вопрос, пожалуйста свяжитесь с нами любым удобным для Вас способом, и мы обязательно Вам поможемс нами любым.
				.examples-invest__blocks.examples-invest__blocks--first
					.examples-invest__main
						.examples-invest__content
							.examples-invest__content-header
								a.examples-invest__links-block(href="") Онлайн сервисы
								.card-with-instruments__instruments
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/C54C6A0F-E42B-477B-9EA0-A106BF87DA1B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/67FCAD89-2FB5-46DF-82E3-7AF633869F8B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/A91E36CA-6BCC-43DB-95C4-9438182BB81D.png);background-size:cover;background-position:center')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/ABD7F37C-3D28-44FD-B222-169C9389A49F.png);background-size:cover;background-position:center')
							.examples-invest__content-body
								h3.examples-invest__content-title Онлайн сервис заказа и доставки еды из ресторанов Краснодара
								p.examples-invest__content-text Сервис работает на рынке с 2014 года и представляет собой одну из самых крупных площадок по заказу и доставки еды в городах: Краснодар, Анапа, Новороссийск, Сочи, Армавир, Темрюк, Туапсе, Геленджик
							.examples-invest__content-prefooter
								.examples-invest__content-block
									p.examples-invest__content-block-text Выручка
									p.examples-invest__content-block-subtext 848 500 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Прибыль
									p.examples-invest__content-block-subtext 44 000 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Цена
									p.examples-invest__content-block-subtext 2 000 000 руб
						.examples-invest__content-footer
							.index-bill__actions
								a.index-bill__arrow-link.arrow-link(href='vekselnaya-programma.html')
									span.arrow-link__text Подробное описание
									span.arrow-link__arrow
										svg(width='7px', height='10px', viewBox='0 0 7 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
												g#arrow(transform='translate(-533.000000, -792.000000)', stroke='#3EA6E7', stroke-width='2')
													g(transform='translate(40.000000, 534.000000)')
														g(transform='translate(280.000000, 256.000000)')
															polyline#Path-2(transform='translate(216.000000, 7.000000) rotate(-360.000000) translate(-216.000000, -7.000000) ', points='214.027669 3 218 6.98611759 214 11')
					.examples-invest__main
						.examples-invest__content
							.examples-invest__content-header
								a.examples-invest__links-block(href="") Онлайн сервисы
								.card-with-instruments__instruments
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/C54C6A0F-E42B-477B-9EA0-A106BF87DA1B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/67FCAD89-2FB5-46DF-82E3-7AF633869F8B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/A91E36CA-6BCC-43DB-95C4-9438182BB81D.png);background-size:cover;background-position:center')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/ABD7F37C-3D28-44FD-B222-169C9389A49F.png);background-size:cover;background-position:center')
							.examples-invest__content-body
								h3.examples-invest__content-title Популярная мобильная игра для Android и iOS с доходом от рекламы
								p.examples-invest__content-text.examples-invest__content-text--second Мобильное приложение известно уже 6 лет на рынке, входит в топ-чарты игр России для Apple и имеет долларовый доход - около 43,5 тыс.долл. в год
							.examples-invest__content-prefooter
								.examples-invest__content-block
									p.examples-invest__content-block-text Выручка
									p.examples-invest__content-block-subtext 250 800 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Кол-во скачиваний
									p.examples-invest__content-block-subtext 3 100 000
								.examples-invest__content-block
									p.examples-invest__content-block-text Цена
									p.examples-invest__content-block-subtext 9 150 000 руб
						.examples-invest__content-footer
							.index-bill__actions
								a.index-bill__arrow-link.arrow-link(href='vekselnaya-programma.html')
									span.arrow-link__text Подробное описание
									span.arrow-link__arrow
										svg(width='7px', height='10px', viewBox='0 0 7 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
												g#arrow(transform='translate(-533.000000, -792.000000)', stroke='#3EA6E7', stroke-width='2')
													g(transform='translate(40.000000, 534.000000)')
														g(transform='translate(280.000000, 256.000000)')
															polyline#Path-2(transform='translate(216.000000, 7.000000) rotate(-360.000000) translate(-216.000000, -7.000000) ', points='214.027669 3 218 6.98611759 214 11')
					.examples-invest__main
						.examples-invest__content
							.examples-invest__content-header
								a.examples-invest__links-block(href="") Онлайн сервисы
								.card-with-instruments__instruments
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/C54C6A0F-E42B-477B-9EA0-A106BF87DA1B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/67FCAD89-2FB5-46DF-82E3-7AF633869F8B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/A91E36CA-6BCC-43DB-95C4-9438182BB81D.png);background-size:cover;background-position:center')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/ABD7F37C-3D28-44FD-B222-169C9389A49F.png);background-size:cover;background-position:center')
							.examples-invest__content-body
								h3.examples-invest__content-title Региональный информационно-рекламный портал
								p.examples-invest__content-text.examples-invest__content-text--third Бизнес с 23-летней историей. На сайте размещаются рекламные и справочные материалы о компаниях Ярославля и Ярославской области и других регионов России
							.examples-invest__content-prefooter
								.examples-invest__content-block
									p.examples-invest__content-block-text Выручка
									p.examples-invest__content-block-subtext 1 000 000 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Прибыль
									p.examples-invest__content-block-subtext 434 000 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Цена
									p.examples-invest__content-block-subtext 7 990 000 руб
						.examples-invest__content-footer
							.index-bill__actions
								a.index-bill__arrow-link.arrow-link(href='vekselnaya-programma.html')
									span.arrow-link__text Подробное описание
									span.arrow-link__arrow
										svg(width='7px', height='10px', viewBox='0 0 7 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
												g#arrow(transform='translate(-533.000000, -792.000000)', stroke='#3EA6E7', stroke-width='2')
													g(transform='translate(40.000000, 534.000000)')
														g(transform='translate(280.000000, 256.000000)')
															polyline#Path-2(transform='translate(216.000000, 7.000000) rotate(-360.000000) translate(-216.000000, -7.000000) ', points='214.027669 3 218 6.98611759 214 11')
				.examples-invest__blocks
					.examples-invest__main
						.examples-invest__content
							.examples-invest__content-header
								a.examples-invest__links-block(href="") Онлайн сервисы
								.card-with-instruments__instruments
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/C54C6A0F-E42B-477B-9EA0-A106BF87DA1B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/67FCAD89-2FB5-46DF-82E3-7AF633869F8B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/A91E36CA-6BCC-43DB-95C4-9438182BB81D.png);background-size:cover;background-position:center')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/ABD7F37C-3D28-44FD-B222-169C9389A49F.png);background-size:cover;background-position:center')
							.examples-invest__content-body
								h3.examples-invest__content-title Информационный сайт о прическах и уходе за волосами
								p.examples-invest__content-text.examples-invest__content-text--first Проект представляет собой крупный инфопортал со статьями об уходе за волосами, стрижках и прическах. За год бизнес зарабатывает около 1,4 млн.руб. на рекламе
							.examples-invest__content-prefooter
								.examples-invest__content-block
									p.examples-invest__content-block-text Выручка
									p.examples-invest__content-block-subtext 41 700 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Прибыль
									p.examples-invest__content-block-subtext 28 400 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Цена
									p.examples-invest__content-block-subtext 2 300 000 руб
						.examples-invest__content-footer
							.index-bill__actions
								a.index-bill__arrow-link.arrow-link(href='vekselnaya-programma.html')
									span.arrow-link__text Подробное описание
									span.arrow-link__arrow
										svg(width='7px', height='10px', viewBox='0 0 7 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
												g#arrow(transform='translate(-533.000000, -792.000000)', stroke='#3EA6E7', stroke-width='2')
													g(transform='translate(40.000000, 534.000000)')
														g(transform='translate(280.000000, 256.000000)')
															polyline#Path-2(transform='translate(216.000000, 7.000000) rotate(-360.000000) translate(-216.000000, -7.000000) ', points='214.027669 3 218 6.98611759 214 11')
					.examples-invest__main
						.examples-invest__content
							.examples-invest__content-header
								a.examples-invest__links-block(href="") Онлайн сервисы
								.card-with-instruments__instruments
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/C54C6A0F-E42B-477B-9EA0-A106BF87DA1B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/67FCAD89-2FB5-46DF-82E3-7AF633869F8B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/A91E36CA-6BCC-43DB-95C4-9438182BB81D.png);background-size:cover;background-position:center')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/ABD7F37C-3D28-44FD-B222-169C9389A49F.png);background-size:cover;background-position:center')
							.examples-invest__content-body
								h3.examples-invest__content-title Информационный портал о ремонте, строительстве и дизайне интерьера
								p.examples-invest__content-text На сайте регулярно публикуются пошаговые инструкции по выполнению строительных работ, статьи о дизайне, обзоры, калькуляторы и т.п. Проект создан в 2017 году
							.examples-invest__content-prefooter
								.examples-invest__content-block
									p.examples-invest__content-block-text Выручка
									p.examples-invest__content-block-subtext 88 700 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Прибыль
									p.examples-invest__content-block-subtext 56 100 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Цена
									p.examples-invest__content-block-subtext 1 700 000 руб
						.examples-invest__content-footer
							.index-bill__actions
								a.index-bill__arrow-link.arrow-link(href='vekselnaya-programma.html')
									span.arrow-link__text Подробное описание
									span.arrow-link__arrow
										svg(width='7px', height='10px', viewBox='0 0 7 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
												g#arrow(transform='translate(-533.000000, -792.000000)', stroke='#3EA6E7', stroke-width='2')
													g(transform='translate(40.000000, 534.000000)')
														g(transform='translate(280.000000, 256.000000)')
															polyline#Path-2(transform='translate(216.000000, 7.000000) rotate(-360.000000) translate(-216.000000, -7.000000) ', points='214.027669 3 218 6.98611759 214 11')
					.examples-invest__main
						.examples-invest__content
							.examples-invest__content-header
								a.examples-invest__links-block(href="") Онлайн сервисы
								.card-with-instruments__instruments
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/C54C6A0F-E42B-477B-9EA0-A106BF87DA1B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/67FCAD89-2FB5-46DF-82E3-7AF633869F8B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/A91E36CA-6BCC-43DB-95C4-9438182BB81D.png);background-size:cover;background-position:center')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/ABD7F37C-3D28-44FD-B222-169C9389A49F.png);background-size:cover;background-position:center')
							.examples-invest__content-body
								h3.examples-invest__content-title Портал о дизайне и ремонте и Youtube-канал с 150 тыс. подписчиков
								p.examples-invest__content-text Информационный портал с полезными статьями и блоговая платформа для строителей, дизайнеров и обустраивающих дом. В комплекте также популярный Youtube-канал с 150 тыс.подписчиков
							.examples-invest__content-prefooter
								.examples-invest__content-block
									p.examples-invest__content-block-text Выручка
									p.examples-invest__content-block-subtext 129 400 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Прибыль
									p.examples-invest__content-block-subtext 104 300 руб/мес
								.examples-invest__content-block
									p.examples-invest__content-block-text Цена
									p.examples-invest__content-block-subtext 4 500 000 руб
						.examples-invest__content-footer
							.index-bill__actions
								a.index-bill__arrow-link.arrow-link(href='vekselnaya-programma.html')
									span.arrow-link__text Подробное описание
									span.arrow-link__arrow
										svg(width='7px', height='10px', viewBox='0 0 7 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
												g#arrow(transform='translate(-533.000000, -792.000000)', stroke='#3EA6E7', stroke-width='2')
													g(transform='translate(40.000000, 534.000000)')
														g(transform='translate(280.000000, 256.000000)')
															polyline#Path-2(transform='translate(216.000000, 7.000000) rotate(-360.000000) translate(-216.000000, -7.000000) ', points='214.027669 3 218 6.98611759 214 11')
				.button-footer 
					a.index-bill__button.button Посмотреть все примеры

							
