//-
    name: profitability-advertising-systems
    description: Markup for the advertising systems block.
    arguments:
        - {object} props - Block properties.

mixin profitability-advertising-systems(props = {})
    .profitability-advertising-systems
        .container
            h2.profitability-advertising-systems__title Рекламные системы
            p.profitability-advertising-systems__subtitle Сейчас рынок информационных технологий измеряется сотнями триллионов долларов. на интересующий Вас вопрос, пожалуйста свяжитесь с нами любым удобным для Вас способом, и мы обязательно Вам поможемс нами любым 
            .profitability-advertising-systems__wrapper-tabs
                .tabs
                    ul.tabs__caption
                        li.active-link.active-chart Международные 
                        li Российские
                        li Американские
                    .tabs__content.active-link
                        .row    
                            .col-12.col-lg-5
                                ul.profitability-advertising-systems__list
                                    li.profitability-advertising-systems__list-txt Комплексная реклама от Яндекс, Google и др.
                                    li.profitability-advertising-systems__list-txt CPA - партнерский маркетинг нового поколения, монетизация видео и графического контента
                                    li.profitability-advertising-systems__list-txt Баннерная реклама, прямая продажа рекламы и PUSH-уведомления
                                    li.profitability-advertising-systems__list-txt Возможность получать платежи в валюте
                                    li.profitability-advertising-systems__list-txt Гибкие графики выплаты
                                    li.profitability-advertising-systems__list-txt Высокая оплата за результат и конверсии
                            .col-12.col-lg-7
                                .row
                                    .col-12.col-lg-6
                                       .profitability-advertising-systems__chart-wrapper
                                            .profitability-advertising-systems__chart.d-flex.justify-content-center.align-items-center(id="circle")
                                            .profitability-advertising-systems__chart-text
                                                    p.profitability-advertising-systems__chart-txt Рекламный охват
                                                    p.profitability-advertising-systems__chart-date 3.25 млрд. чел.
                                                    p.profitability-advertising-systems__chart-txt Рекламный бюджет
                                                    p.profitability-advertising-systems__chart-date &#36;4.32 трлн.&sup1;
                                    .col-12.col-lg-6
                                        ul.profitability-advertising-systems__name-list
                                            .row
                                                .col-lg-6
                                                    li.profitability-advertising-systems__google(data-aos="zoom-in", data-aos-duration="300") Google
                                                    li.profitability-advertising-systems__yandex.d-flex(data-aos="zoom-in",data-aos-delay="300", data-aos-duration="100") Яндекс РСЯ
                                                    li.profitability-advertising-systems__sberp(data-aos="zoom-in",data-aos-delay="400", data-aos-duration="100") SBERP
                                                    li.profitability-advertising-systems__sibn(data-aos="zoom-in",data-aos-delay="500", data-aos-duration="100") SIBN
                                                    li.profitability-advertising-systems__moex(data-aos="zoom-in",data-aos-delay="600", data-aos-duration="100") MOEX
                                                    li.profitability-advertising-systems__pasp(data-aos="zoom-in",data-aos-delay="700", data-aos-duration="100") PASP
                                                    li.profitability-advertising-systems__lsngp(data-aos="zoom-in",data-aos-delay="800", data-aos-duration="100") LSNGP
                                                    li.profitability-advertising-systems__tatnp(data-aos="zoom-in",data-aos-delay="900", data-aos-duration="100") TATNP
                                                .col-lg-6
                                                    li.profitability-advertising-systems__gazp(data-aos="zoom-in",data-aos-delay="1000", data-aos-duration="100") GAZP
                                                    li.profitability-advertising-systems__plzl(data-aos="zoom-in",data-aos-delay="1100", data-aos-duration="100") PLZL
                                                    li.profitability-advertising-systems__gmkn(data-aos="zoom-in",data-aos-delay="1200", data-aos-duration="100") GMKN
                                                    li.profitability-advertising-systems__lkoh(data-aos="zoom-in",data-aos-delay="1300", data-aos-duration="100") LKOH
                                                    li.profitability-advertising-systems__mrkv(data-aos="zoom-in",data-aos-delay="1400", data-aos-duration="100") MRKV
                                                    li.profitability-advertising-systems__alsp(data-aos="zoom-in",data-aos-delay="1500", data-aos-duration="100") ALPS
                                                    li.profitability-advertising-systems__mtss(data-aos="zoom-in",data-aos-delay="1600", data-aos-duration="100") MTSS
            .row
                .col-12
                    .profitability-advertising-systems__button-wrapper
                        button.profitability-advertising-systems__btn-first(type='submit') КОНСУЛЬТАЦИЯ
                        button.profitability-advertising-systems__btn-second(type='submit') ВОПРОСЫ И ОТВЕТЫ
            p.profitability-advertising-systems__text ** Информация о доходности указана справочно. Настоящая информация не является гарантией или обещанием в будущем доходности вложений. Данная стратегия не является стандартной, носит информационный характер и не предлагается неограниченному кругу инвесторов. Инвестору будет предложена индивидуальная стратегия доверительного управления после определения его инвестиционного профиля в соответствии с Положением Банка России от 3 августа 2015 г. № 482-П "О единых требованиях к правилам осуществления деятельности по управлению ценными бумагами, к порядку раскрытия управляющим информации, а также требованиях, направленных на исключение конфликта интересов управляющего".
        
  
  
