//-
	name: how-we-are-working-it-benefits
	description: Markup for the how we are working it benefits block.
	arguments:
		- {object} props - Block properties.

mixin how-we-are-working-it-benefits(props = {})
	.how-we-are-working-it-benefits
		.wrap
			.container
				.row
					h2.how-we-are-working-it-benefits__title Управление и консалтинг нового поколения
					.how-we-are-working-it-benefits__blocks
						.how-we-are-working-it-benefits__block
							h3.how-we-are-working-it-benefits__subtitle Персональные условия
							p.how-we-are-working-it-benefits__text Создание индивидуальной стратегии доверительного управления IT бизнесом с учетом инвестиционных предпочтений клиента, ожидаемого уровня доходности и надежности
						.how-we-are-working-it-benefits__block
							h3.how-we-are-working-it-benefits__subtitle Профессиональная экспертиза
							p.how-we-are-working-it-benefits__text Объектами инвестирования могут быть различные виды IT бизнеса как российские, так и иностранные. Над выбором активов в ваш портфель будут работать управляющие, аналитики  с большим опытом
						.how-we-are-working-it-benefits__block
							h3.how-we-are-working-it-benefits__subtitle Эффективное управление
							p.how-we-are-working-it-benefits__text Мы предлагаем игдивидуальный подход к управлению вашим капиталом.  Доверьте свои инвестиции профессионалу, чья компетенция подтверждена временем и результатом
						.how-we-are-working-it-benefits__page
							button.about-china__knopka бесплатная консультация
