//-
    name: detailed-business-description-onlin-services
    description: Markup for the onlin services block.
    arguments:
        - {object} props - Block properties.

mixin detailed-business-description-onlin-services(props = {})
    .detailed-business-description-onlin-services
        .container
            span.detailed-business-description-onlin-services__invest КУДА ИНВЕСТИРОВАТЬ 
            .row
                .col-12.col-sm-8
                    h2.detailed-business-description-onlin-services__title Онлайн сервис заказа и доставки еды из ресторанов Краснодара
                    h3.detailed-business-description-onlin-services__subtitle Описание бизнеса
                    p.detailed-business-description-onlin-services__text Описание бизнесаБизнес был создан в 2014 году и представляет собой агрегатор кафе и ресторанов, зарабатывает на комиссии с заказов, оформленных через сайт. 70% дохода - комиссия с заведений, 30% - комиссия с курьеров. Всего в данный момент 90 платящих заведений и 7 курьеров. За последние 12 месяцев проект заработал 924 тыс.руб. В летние периоды времени доход возрастает на 50% за счет приезда отдыхающих. 80% пользователей приходят из органической выдачи и поисковых систем, 15% заходят напрямую на сайт. В штате директор-бухгалтер, маркетолог; на аутсорсинге - технический директор, оператор, курьеры. Все готовы продолжить работу с новым владельцем, кроме тех.директора. Вести бизнес можно удаленно из любого места, сейчас он управляется из г. Сочи, это занимает около 7 часов в неделю у собственника. Он готов оказать техническую поддержку и консультировать нового владельца в течение первого месяца после продажи. Среди передаваемых активов: юр.лицо, права администрирования доменных имен, клиентская база с контактами, а также свидетельство о регистрации программы для ЭВМ.
                .col-12.col-sm-4
                    .detailed-business-description-onlin-services__wrapper
                        .detailed-business-description-onlin-services__tag 
                            p.detailed-business-description-onlin-services__tag-txt  Онлайн сервисы
                        p.detailed-business-description-onlin-services__txt Монетизация
                        h4.detailed-business-description-onlin-services__info Онлайн сервис
                        p.detailed-business-description-onlin-services__txt Индустрия
                        h4.detailed-business-description-onlin-services__info Ресторан
                        p.detailed-business-description-onlin-services__txt Платформа
                        h4.detailed-business-description-onlin-services__info Вебсайт
                        hr 
                        p.detailed-business-description-onlin-services__txt Прибыль
                        h4.detailed-business-description-onlin-services__info  42 900 руб/мес
                        p.detailed-business-description-onlin-services__txt   Окупаемость
                        h4.detailed-business-description-onlin-services__info  18 месяцев
                        hr 
                        p.detailed-business-description-onlin-services__txt  Трафик
                        h4.detailed-business-description-onlin-services__info  275 000 уник./мес
                        p.detailed-business-description-onlin-services__txt Цена
                        h4.detailed-business-description-onlin-services__info-blue 780 000 руб
            .row 
                .col-12.col-sm-8
                    h3.detailed-business-description-onlin-services__subtitle Возможности для роста и развития
                    ul
                        li.detailed-business-description-onlin-services__text-list Расширение технического функционала: отзывы, возможность онлайн-оплаты, введение бонусной системы и т.д.
                        li.detailed-business-description-onlin-services__text-list.detailed-business-description-onlin-services__subtitle-margin Разработка и реализация маркетинговой стратегии.
                    h3.detailed-business-description-onlin-services__subtitle Выручка от продаж, руб.
                    img.detailed-business-description-onlin-services__chart(src="./assets/img/chart first.png", alt="chart")
                .col-12.col-sm-4
                    .detailed-business-description-onlin-services__wrapper
                        h3.detailed-business-description-onlin-services__subtitle-sidebar Ключевая информация о бизнесе
                        p.detailed-business-description-onlin-services__txt Дата запуска
                        h4.detailed-business-description-onlin-services__info  2015 год
                        p.detailed-business-description-onlin-services__txt Доходность (ROI), % в год
                        h4.detailed-business-description-onlin-services__info  67%
                        p.detailed-business-description-onlin-services__txt  CMS и языки программирования
                        h4.detailed-business-description-onlin-services__info  WordPress
                        p.detailed-business-description-onlin-services__txt Время на управление
                        h4.detailed-business-description-onlin-services__info   1-2 часа в неделю
                        p.detailed-business-description-onlin-services__txt Место жительства продавца
                        h4.detailed-business-description-onlin-services__info  Хабаровск
            .row
                .col-12.col-sm-8
                    img.detailed-business-description-onlin-services__chart(src="./assets/img/chart second.png", alt="chart")
                    h3.detailed-business-description-onlin-services__subtitle  Передаваемые активы
                    ul
                        li.detailed-business-description-onlin-services__text-list Права администрирования доменного имени;
                        li.detailed-business-description-onlin-services__text-list Права на программный код и контент;
                        li.detailed-business-description-onlin-services__text-list Канал в Яндекс.Дзен.
                .col-12.col-sm-4
                    .detailed-business-description-onlin-services__wrapper
                        h3.detailed-business-description-onlin-services__subtitle-sidebar Регулярные операции
                        ul
                            li.detailed-business-description-onlin-services__text-list-sidebar Контроль работы сотрудников;
                            li.detailed-business-description-onlin-services__text-list-sidebar Финансы и стратегия.
                    .detailed-business-description-onlin-services__wrapper
                        p.detailed-business-description-onlin-services__txt Брокер проекта
                        h3.detailed-business-description-onlin-services__name Комаров Алексей Игоревич 
                        p.detailed-business-description-onlin-services__txt Telegram
                        a.detailed-business-description-onlin-services__link(rel="stylesheet", href="javascript:void(0)") @itbizbroker
                        p.detailed-business-description-onlin-services__txt E-mail
                        a.detailed-business-description-onlin-services__link(rel="stylesheet", href="javascript:void(0)") a@itbb.ru

