mixin howsFirst(props = {})
    .hows 
        .row
            .column
                .workers    
                    .workers__team
                        .workers-item
                            .workers-item__avatar
                                img(src="./assets/img/Roman_03.jpg", alt="")
                            span.workers-item__name Роман Григорян
                            span.workers-item__profession.text.text_small 
                                | Генеральный директор
                                br
                                | «Интерфин Капитал»
                    .workers__team-second
                        .how__top
                            h2.how__title Управление и консалтинг нового поколения
                            .how__region.how__region_desktop.how-region
                                ul.how-region__items
                                    li.how-region__item
                                        .how-region__number
                                            | 01
                                        .how-region__text
                                            | Все условия договора согласовываются по электронной почте. Оригиналы документов вы
                                            | получите по почте в течение трех дней
                                    li.how-region__item
                                        .how-region__number
                                            | 02
                                        .how-region__text
                                            | Внесите сумму инвестиций на наш расчетный счет в Сбербанке и уже через месяц
                                            | получите
                                            | первую выплату процентов на карту
                        .how__main
                            ul.how__items
                                li.how__item
                                    .how__wrapper
                                        .how__number
                                            | 01
                                        .how__arrow
                                    .how__text.text-fisrt
                                        | Найдем подходящий
                                        | онлайн бизнес, проведем
                                        a.how__link(href='https://unitrust.capital/request/consult', title='Оставьте заявку', data-modal='') 
                                            | проверку и аналитику
                                li.how__item
                                    .how__wrapper
                                        .how__number
                                            | 02
                                        .how__arrow
                                    .how__text.text-fisrt
                                        | Обеспечим безопасное
                                        a.how__link(href='https://unitrust.capital/request/consult', title='Оставьте заявку', data-modal='') 
                                            | сопровождение сделок
                                        |  от 100 тыс до 1 млрд ₽
                                li.how__item
                                    .how__wrapper
                                        .how__number
                                            | 03
                                        .how__arrow
                                    .how__text 
                                        | Возьмите под
                                        a.how__link(href='https://unitrust.capital/request/consult', title='Оставьте заявку', data-modal='') 
                                            | управление 
                                            br
                                            | и развитие 
                                        | ваш онлайн бизнес
                                li.how__item
                                    .how__wrapper
                                        .how__number
                                            | 04
                                        .how__arrow
                                    .how__text
                                        | Поможем правильно
                                        a.how__link(href='https://unitrust.capital/request/consult', title='Оставьте заявку', data-modal='')  юридически оформить 
                                        | оформить бизнес