//-
	name: invest
	description: Markup for the invest block.
	arguments:
		- {object} props - Block properties.

mixin detailed-business-description-invest(props = {})
	.detailed-business-description-invest
		.row
			.column
				.detailed-business-description-invest__active-caption Куда инвестировать
				.detailed-business-description-invest__block-top
					h2.detailed-business-description-invest__title Просмотреть другие бизнесы
					.button-footer 
						a.index-bill__button.button Посмотреть все примеры
				.detailed-business-description-invest__blocks
					.detailed-business-description-invest__main
						.detailed-business-description-invest__content
							.detailed-business-description-invest__content-header
								a.detailed-business-description-invest__links-block(href="") Онлайн сервисы
								.card-with-instruments__instruments
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/C54C6A0F-E42B-477B-9EA0-A106BF87DA1B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/67FCAD89-2FB5-46DF-82E3-7AF633869F8B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/A91E36CA-6BCC-43DB-95C4-9438182BB81D.png);background-size:cover;background-position:center')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/ABD7F37C-3D28-44FD-B222-169C9389A49F.png);background-size:cover;background-position:center')
							.detailed-business-description-invest__content-body
								h3.detailed-business-description-invest__content-title Онлайн сервис заказа и доставки еды из ресторанов Краснодара
								p.detailed-business-description-invest__content-text Сервис работает на рынке с 2014 года и представляет собой одну из самых крупных площадок по заказу и доставки еды в городах: Краснодар, Анапа, Новороссийск, Сочи, Армавир, Темрюк, Туапсе, Геленджик
							.detailed-business-description-invest__content-prefooter
								.detailed-business-description-invest__content-block
									p.detailed-business-description-invest__content-block-text Выручка
									p.detailed-business-description-invest__content-block-subtext 848 500 руб/мес
								.detailed-business-description-invest__content-block
									p.detailed-business-description-invest__content-block-text Прибыль
									p.detailed-business-description-invest__content-block-subtext 44 000 руб/мес
								.detailed-business-description-invest__content-block
									p.detailed-business-description-invest__content-block-text Цена
									p.detailed-business-description-invest__content-block-subtext 2 000 000 руб
						.detailed-business-description-invest__content-footer
							.index-bill__actions
								a.index-bill__arrow-link.arrow-link(href='vekselnaya-programma.html')
									span.arrow-link__text Подробное описание
									span.arrow-link__arrow
										svg(width='7px', height='10px', viewBox='0 0 7 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
												g#arrow(transform='translate(-533.000000, -792.000000)', stroke='#3EA6E7', stroke-width='2')
													g(transform='translate(40.000000, 534.000000)')
														g(transform='translate(280.000000, 256.000000)')
															polyline#Path-2(transform='translate(216.000000, 7.000000) rotate(-360.000000) translate(-216.000000, -7.000000) ', points='214.027669 3 218 6.98611759 214 11')
					.detailed-business-description-invest__main
						.detailed-business-description-invest__content
							.detailed-business-description-invest__content-header
								a.detailed-business-description-invest__links-block(href="") Онлайн сервисы
								.card-with-instruments__instruments
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/C54C6A0F-E42B-477B-9EA0-A106BF87DA1B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/67FCAD89-2FB5-46DF-82E3-7AF633869F8B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/A91E36CA-6BCC-43DB-95C4-9438182BB81D.png);background-size:cover;background-position:center')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/ABD7F37C-3D28-44FD-B222-169C9389A49F.png);background-size:cover;background-position:center')
							.detailed-business-description-invest__content-body
								h3.detailed-business-description-invest__content-title Популярная мобильная игра для Android и iOS с доходом от рекламы
								p.detailed-business-description-invest__content-text.detailed-business-description-invest__content-text--second Мобильное приложение известно уже 6 лет на рынке, входит в топ-чарты игр России для Apple и имеет долларовый доход - около 43,5 тыс.долл. в год
							.detailed-business-description-invest__content-prefooter
								.detailed-business-description-invest__content-block
									p.detailed-business-description-invest__content-block-text Выручка
									p.detailed-business-description-invest__content-block-subtext 250 800 руб/мес
								.detailed-business-description-invest__content-block
									p.detailed-business-description-invest__content-block-text Кол-во скачиваний
									p.detailed-business-description-invest__content-block-subtext 3 100 000
								.detailed-business-description-invest__content-block
									p.detailed-business-description-invest__content-block-text Цена
									p.detailed-business-description-invest__content-block-subtext 9 150 000 руб
						.detailed-business-description-invest__content-footer
							.index-bill__actions
								a.index-bill__arrow-link.arrow-link(href='vekselnaya-programma.html')
									span.arrow-link__text Подробное описание
									span.arrow-link__arrow
										svg(width='7px', height='10px', viewBox='0 0 7 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
												g#arrow(transform='translate(-533.000000, -792.000000)', stroke='#3EA6E7', stroke-width='2')
													g(transform='translate(40.000000, 534.000000)')
														g(transform='translate(280.000000, 256.000000)')
															polyline#Path-2(transform='translate(216.000000, 7.000000) rotate(-360.000000) translate(-216.000000, -7.000000) ', points='214.027669 3 218 6.98611759 214 11')
					.detailed-business-description-invest__main
						.detailed-business-description-invest__content
							.detailed-business-description-invest__content-header
								a.detailed-business-description-invest__links-block(href="") Онлайн сервисы
								.card-with-instruments__instruments
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/C54C6A0F-E42B-477B-9EA0-A106BF87DA1B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/67FCAD89-2FB5-46DF-82E3-7AF633869F8B.png);background-size:cover;background-position:center;')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/A91E36CA-6BCC-43DB-95C4-9438182BB81D.png);background-size:cover;background-position:center')
									.instrument-icon(style='background-image:url(https://s3n.open-broker.ru/upload/instrument/image/base/ABD7F37C-3D28-44FD-B222-169C9389A49F.png);background-size:cover;background-position:center')
							.detailed-business-description-invest__content-body
								h3.detailed-business-description-invest__content-title Региональный информационно-рекламный портал
								p.detailed-business-description-invest__content-text.detailed-business-description-invest__content-text--third Бизнес с 23-летней историей. На сайте размещаются рекламные и справочные материалы о компаниях Ярославля и Ярославской области и других регионов России
							.detailed-business-description-invest__content-prefooter
								.detailed-business-description-invest__content-block
									p.detailed-business-description-invest__content-block-text Выручка
									p.detailed-business-description-invest__content-block-subtext 1 000 000 руб/мес
								.detailed-business-description-invest__content-block
									p.detailed-business-description-invest__content-block-text Прибыль
									p.detailed-business-description-invest__content-block-subtext 434 000 руб/мес
								.detailed-business-description-invest__content-block
									p.detailed-business-description-invest__content-block-text Цена
									p.detailed-business-description-invest__content-block-subtext 7 990 000 руб
						.detailed-business-description-invest__content-footer
							.index-bill__actions
								a.index-bill__arrow-link.arrow-link(href='vekselnaya-programma.html')
									span.arrow-link__text Подробное описание
									span.arrow-link__arrow
										svg(width='7px', height='10px', viewBox='0 0 7 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
											g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
												g#arrow(transform='translate(-533.000000, -792.000000)', stroke='#3EA6E7', stroke-width='2')
													g(transform='translate(40.000000, 534.000000)')
														g(transform='translate(280.000000, 256.000000)')
															polyline#Path-2(transform='translate(216.000000, 7.000000) rotate(-360.000000) translate(-216.000000, -7.000000) ', points='214.027669 3 218 6.98611759 214 11')

							
