//-
	name: conditions
	description: Markup for the conditions block.
	arguments:
		- {object} props - Block properties.

mixin online-business-investment-conditions(props = {})
	.online-business-investment-conditions
		.conditions__main
			.row
				.column
					h2.online-business-investment-conditions__title Преимущества онлайн бизнеса
					.conditions__key-table.conditions__key-table_entity
						table.conditions__table
							tbody
								tr.conditions__tr
									td.conditions__td
										| Диверсификация
									td.conditions__td#text
										| Частные инвесторы, покупая те или иные активы напрочь забывают о диверсификации (разнообразие вложений). Их портфель состоит обычно из 8-12 различных акций, максимум охватывающих 3-4 отрасли. Такое вложение денег сильно рискованно. Ведь при обвале котировок одного-двух эмитентов, входящих в портфель вы можете потерять большую часть от ваших вложений.
										span#read_more Развернуть
											span.nav__arrow
												svg.svg-icon.icon-to-bot
													use(xlink:href='./assets/img/sprite.svg#to-bot')

										#read
											| Если попытаться все же правильно диверсифицировать частный портфель, то инвесторы сталкиваются с двумя проблемами.
											ul.conditions__table-items Во-первых
												li.conditions__table-item
													| для того чтобы максимально разнообразить свой портфель различными активами во всех основных отраслях, нужны большие деньги. Обладая небольшой суммой, можете про эту затею забыть.
											ul.conditions__table-items Во-вторых
												li.conditions__table-item 
													| даже если у вас и есть на руках необходимая сумма для правильной диверсификации, управлять таким портфелем достаточно сложно. Представьте что у вас будет 50-100. Сколько времени вы будете уделять контролю, анализу портфеля, отслеживать текущее положение в том или иной компании, акционером которой вы являетесь. Инвестируя в ПИФ, вы сразу достигаете максимальной диверсификации, которой вряд-ли бы добились как частный инвестор. Максимальная диверсификация способно не только снизить риски, но как это не парадоксально звучит и повысить отдачу от вложений или получить более высокую прибыль.
												span#hidden Свернуть
													i.fas.fa-chevron-up.arrow-up
								tr.conditions__tr
									td.conditions__td
										| Низкая стоимость управления
									td.conditions__td Обычно паевые фонды покупают и продают за один раз десятки или даже сотни тысяч акций на фондовом рынке. И за счет оборота у них установлен льготный тариф по комиссионным издержкам, который может быть в десять раз ниже, чем при самостоятельной продаже частными инвесторами с их несколькими лотами. В итоге ежегодные издержки, которые несут пайщики в размере 2-3% иногда выгоднее, чем самостоятельная торговля.
								tr.conditions__tr
									td.conditions__td
										| Профессиональное управление
									td.conditions__td#text
										| Паевые фонды управляются не одним человеком, а целой командой профессионалов. Каждый из которых имеет профильное образование в своей области, большой опыт работы (который составляет несколько лет, иногда даже десятилетий) и соответственно является хорошим специалистом. В управление входит портфельное управление, постоянное исследование рынка и поиск лучших инвестиций, способных дать наибольшую доходность при приемлемых уровнях риска.
										span#read_more-second Развернуть
											span.nav__arrow
												svg.svg-icon.icon-to-bot
													use(xlink:href='./assets/img/sprite.svg#to-bot')
										#read-second
											| Согласитесь, в одиночку вы с такой работой едва справитесь. И даже если у вас есть определенный опыт в этой области, сколько времени у вас будет занимать анализ текущей рыночной ситуации? И стоит ли самостоятельный анализ и потраченное на него время тех дополнительных прибылей, которые вы получите?
											br
											| Особенно это актуально для инвесторов с небольшими капиталами. Ну сколько вы можете заработать со 100 — 200 тысяч рублей самостоятельно анализируя рынок? В лучшем случае 20-30 тысяч за год. А времени потратите непропорционально больше полученному доходу. Поэтому лучше довериться профессионалам.
											br
											span#hidden-second Свернуть
												i.fas.fa-chevron-up.arrow-up
								tr.conditions__tr
									td.conditions__td
										| Низкий порог входа в ПИФ
									td.conditions__td
										| Если у вас мало денег, то для того чтобы купить паи хватит и нескольких тысяч рублей. В среднем цена покупки составляет около 10 000 рублей. Большинство управляющих компаний придерживаются именно этого ценового диапазона. Бывают конечно же и более низкие стоимости входа. Но не стоит думать, что ПИФы — это инвестирование для бедных. Крупные организации и компании тоже инвестируют деньги в паевые фонды для более низко затратного и высококачественного управления деньгами.
								tr.conditions__tr
									td.conditions__td
										| Контроль со стороны государства
									td.conditions__td
										| Деятельность фонда постоянно проверяется Финансовой Службой по финансовым рынкам. Поэтому ПИФы обязаны сообщать все финансовые показатели по своей деятельности: прибыль, убытки, операционные расходы и т.д.
								tr.conditions__tr
									td.conditions__td
										| Большой выбор ПИФов
									td.conditions__td#text
										| C различным уровнем риска и доходности. Вы можете подобрать для себя тот фонд, который максимально соответствует вашим финансовым возможностям, целям, горизонту инвестирования и возможным уровнем убытков и прибыли.
										br
										| Например, если вы вкладываете надолго (5-10 лет) и нацелены на максимальную доходность, то вам вероятнее всего подойдут фонды акций.
										span#read_more-third Развернуть
											span.nav__arrow
												svg.svg-icon.icon-to-bot
													use(xlink:href='./assets/img/sprite.svg#to-bot')
										#read-third
											| Если вы хотите избежать больших просадок по стоимости паев, то ваш выбор смешанные фонды или фонды облигаций
											br
											| Вообще не можете терпеть убытков, да и деньги вам могут понадобиться в ближайшее время — вам выбор фонды денежного рынка.
											br
											| При всей кажущейся простоте и массе достоинств ПИФам присуще и недостатки.
											br
											span#hidden-third Свернуть
												i.fas.fa-chevron-up.arrow-up
						a.conditions__more(href='javascript:void(0);', title='Развернуть/Скрыть', data-toggle-link='', data-selector='.conditions__key-table_entity', data-toggle='conditions__key-table_opened', data-goal-click='click_button_conditions')
							span.conditions__more-name.conditions__more-name_open Больше примуществ
								span.nav__arrow
									svg.svg-icon.icon-to-bot
										use(xlink:href='./assets/img/sprite.svg#to-bot')
							span.conditions__more-name.conditions__more-name_hide Скрыть
								i.fas.fa-chevron-up.arrow-up

