//-
    name: points-about
    description: Markup for the points about block.
    arguments:
        - {object} props - Block properties.

mixin about-points(props = {})
    .about-points
        .points
            .row
                .column
                    ul.points__list.points-list
                        li.points-list__item
                            .points-item
                                span.points-item__number c 2005
                                span.points-item__title года опыт
                                span.points-item__description учредителей на торгах по банкротству
                        li.points-list__item
                            .points-item
                                span.points-item__number 175+
                                span.points-item__title инвесторов
                                span.points-item__description довольных сотрудничеством
                        li.points-list__item
                            .points-item
                                span.points-item__number 120+
                                span.points-item__title аукционных брокеров
                                span.points-item__description по всей России позволяют нам эффективно работать с имуществом, выставленным на торги практически в любом регионе
                        li.points-list__item
                            .points-item
                                span.points-item__number 60+
                                span.points-item__title торговых площадок
                                span.points-item__description аккредитованных для работы
                        li.points-list__item
                            .points-item
                                span.points-item__number 100
                                span.points-item__title миллионов рублей
                                span.points-item__description уставный капитал компании
                        li.points-list__item
                            .points-item
                                span.points-item__number 1+
                                span.points-item__title миллиарда рублей
                                span.points-item__description активы под управлением компании
