//-
    name: footer-bottom
    description: Markup for the footer bottom block.
    arguments:
        - {object} props - Block properties.

mixin footer-bottom(props = {})
    .row
        .column
            .footer__bottom
                ul.footer__bottom-links
                    li
                        a(href='https://strimbroker.ru/disclosure/main') Раскрытие информации
                    li
                        a(href='https://strimbroker.ru/cookies') Политика обработки cookies
                    li
                        a(href='https://strimbroker.ru/documents/Personal_Data_Policy.pdf', target='_blank') Политика обработки персональных данных
                a.footer__logo.is-exact-active.is-active(href='https://strimbroker.ru/')
                    img(src='./assets/img/logo-gray.svg')
            .footer__text
                .typography
                    p Общество с ограниченной ответственностью «Инвестиционная компания «Стрим» (ООО «ИК «Стрим»), лицензия профессионального участника рынка ценных бумаг на осуществление брокерской деятельности № 040-14046-100000, выдана Банком России 27.02.2018 (без ограничения срока действия). С информацией об ООО «ИК «Стрим» получатели финансовых услуг могут ознакомиться в разделе «Информация о компании, подлежащая раскрытию», по адресу: 
                        a(href='https://strimbroker.ru/disclosure/information') https://strimbroker.ru/disclosure/information
                    p Под «сервисом» понимается одно или несколько (совокупность) условий брокерского обслуживания клиентов, включая, но не ограничиваясь: открытие определенного портфеля, ведение отдельного инвестиционного счета, предложение тарифного плана, предоставление клиенту информационных сообщений, а также иные условия, предусмотренные договором и/или Регламентом Общества с ограниченной ответственностью «Инвестиционная компания «Стрим» «О порядке осуществления деятельности на рынке ценных бумаг и срочном рынке» и/или дополнительным соглашением с клиентом и/или размещенные на сайте 
                        a.is-exact-active.is-active(href='https://strimbroker.ru/') https://strimbroker.ru/.
                        p Подробнее о каждом сервисе вы можете узнать на сайте компании, в личном кабинете или обратившись к сотруднику ООО ИК «Стрим». 
                    p Сервис дистанционного оформления предоставляется для первичного открытия счета в компании. Представленная информация не является индивидуальной инвестиционной рекомендацией, ни при каких условиях, в том числе при внешнем совпадении ее содержания с требованиями нормативно-правовых актов, предъявляемых к индивидуальной инвестиционной рекомендации. Любое сходство представленной информации с индивидуальной инвестиционной рекомендацией является случайным. Какие-либо из указанных финансовых инструментов или операций могут не соответствовать вашему инвестиционному профилю.
                    p Упомянутые в представленном сообщении операции и (или) финансовые инструменты ни при каких обстоятельствах не гарантируют доход, на который вы, возможно, рассчитываете, при условии решений.
            .footer__copyright
                p © Strimbroker, 2020, ООО «ИК «Стрим». Все права защищены.
