.history__year_num,
.login-form .field.-transp {
    filter: alpha(Opacity=30);
    opacity: .3
}

.history__axis-y span,
.members-slider .info p {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700
}

.swiper-container {
    padding: 0 100px;
}

.background__container-slider {
    position: relative;
}

.history {
    position: relative;
    width: 100%;
    padding-bottom: 24px;
    max-width: 1200px;

    &__links {
        color: #5CA5E2;
        padding-top: 16px;
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
    }

    &__line {
        display: block;
        position: absolute;
        top: 50%;
        width: 800%;
        height: 5px;
        background: #5CA5E2;
    }

    &__buble {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 13px;
        background: #5CA5E2;
        border: 1px;
        position: absolute;
        top: 50%;
        left: -7px;
        z-index: 3;
        transform: translateY(-40%);

        &:nth-child(odd) {
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 7px;
                bottom: 13px;
                width: 1px;
                height: 70px;
                background: #B2B2B2;
                z-index: -1;
            }
        }

        &:nth-child(even) {
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 7px;
                top: 14px;
                width: 1px;
                height: 67px;
                background: #B2B2B2;
                z-index: -1;
            }
        }

        &:after {
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin: 5px;
            background: white;
        }
    }

    &__year {

        &_num {
            font-size: 40px;
            font-weight: 700;
            letter-spacing: 0px;
            color: #1a3a53;
            position: absolute;
            left: 32px;
            top: 50%;
            z-index: 2;
            transform: translateY(-100%);

        }

    }

    .history__bar,
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
    }
}

.background {
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 33px;
        color: #203752;
    }

}


.history__buble:after {
    content: "";
}

.background {
    background: #F6F7F9;
}

.background .ideas-container {
    padding-top: 41px;
    margin-bottom: 0;
}

.background .blackblock {
    width: 119px;
    height: 241px;
    position: relative;
    top: -4%;
    left: -9px;
}

.swiper-button-next {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 1px;
    margin-top: 2px;
    background: #6D7986;
    transform: translateY(-75%);
    right: 0px;
    left: auto;
    top: 50%;

    &:after {
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
    }

}

.swiper-button-prev {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 1px;
    margin-top: 2px;
    background: #6D7986;
    transform: translateY(-75%);
    left: 0px;
    right: auto;
    top: 50%;

    &:after {
        font-size: 22px;
        color: #fff;
        margin-right: 4px;
    }

}

.container-swiper {
    position: relative;
    background: #F6F7F9;
}

.swiper-wrapper {
    height: auto !important;

    .swiper-slide {
        position: relative;
        opacity: 1;
        transition: ease .3s opacity;
        display: flex;
        flex-direction: column;
        height: auto !important;

        .history__bar {
            background-color: white;
            border: 1px solid #B2B2B2;
            transition: ease .3s transform;
            position: relative;
            padding: 16px;

            &-img {
                position: absolute;
                top: -0.5%;
                left: 0;
                height: 101%;
                display: block;
                width: 100px;
                border: 1px solid #B2B2B2;
                border-right: none;
                transform: translateX(-100%);
            }
        }

        &:nth-child(odd) {
            padding-top: 10px;
            justify-content: flex-start;

            &:before {
                content: '';
                display: block;
                padding-top: 150%;
            }


            .history__bar {
                transform: translateY(100%) !important;

            }
        }

        &:nth-child(even) {
            padding-bottom: 10px;
            justify-content: flex-end;

            &:after {
                content: '';
                display: block;
                padding-top: 150%;
            }

            .history__bar {
                transform: translateY(-100%) !important;
            }
        }

        &.swiper-slide-active,
        &.swiper-slide-next,
        &.swiper-slide-next+.swiper-slide,
        &.swiper-slide-next+.swiper-slide+.swiper-slide {
            .history__bar {
                transform: translateY(0) !important;
            }
        }

        &.swiper-slide-next+.swiper-slide+.swiper-slide~.swiper-slide,
        &.swiper-slide-prev {
            opacity: 0;
        }
    }
}