//-
	name: how-we-are-working-china
	description: Markup for the how we are working china block.
	arguments:
		- {object} props - Block properties.

mixin how-we-are-working-china(props = {})
	.how-we-are-working-china
		.container
			.row
				.d-none.d-lg-block.col-lg-4.d-xl-block.col-xl-4
					.about-china__images
						img.about-china__man(src="./assets/img/5dde854ad7a5a4c15527e1879edd6c61.png", alt="")
				.d-none.d-lg-block.col-lg-4.d-xl-block.col-xl-4
					.about-china__info
						p.about-china__names Алексей Иванов
						p.about-china__information  Руководитель департамента управления бизнеса
				.col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
					.about-china__blog
						a.how-we-are-working-china__btn(href="") Услуги
						h2.about-china__tittle 
							| Анализируем и подбираем 
							br
							| выгодный IT бизнес
						p.about-china__subtittle При продаже инвестиционного пая Вам необходимо иметь (открыть, если нет) банковский счет, куда будут перечислены средства от погашения пая. Затем Вы подаете заявку на
						.about-china__page
							button.about-china__knopka открыть схему работы
								svg.svg-icon.icon-contacts
									use(xlink:href='./assets/img/contact.svg#contacts')